<div layout="column" height-full>

	<auto-toolbar
		title="Dashboard"
		more="true"><!-- add icons here --></auto-toolbar>

	<div scrollable flex>
		<div>
			<md-icon md-font-library="material-icons" class="md-avatar">directions_car</md-icon>
			Vehicles
		</div>
		<a ng-href="#/vehicles">List vehicles</a>
		<a ng-href="#/vehicles/new">new vehicle</a>
		<a ng-href="#/vehicles/12345">a vehicle</a>
		<div>
			<md-icon md-font-library="material-icons" class="md-avatar">today</md-icon>
			Vehicle history
		</div>
		<a ng-href="#/vehicles/12345/history">History for an existing vehicle</a>
		<div>
			<md-icon md-font-library="material-icons" class="md-avatar">today</md-icon>
			Vehicle reports
		</div>
		<a ng-href="#/vehicles/12345/reports">Reports for an existing vehicle</a>
		<div>
			<md-icon md-font-library="material-icons" class="md-avatar">today</md-icon>
			Vehicle schedule
		</div>
		<a ng-href="#/vehicles/12345/schedule">Schedule for an existing vehicle</a>
		<div>
			<md-icon md-font-library="material-icons" class="md-avatar">done</md-icon>
			Tasks
		</div>
		<a ng-href="#/tasks">List maintenance tasks</a>
		<a ng-href="#/tasks/new">new task</a>
		<a ng-href="#/tasks/12345">view task</a>
		<a ng-href="#/tasks/12345/edit">edit an existing task</a>
		<h2>
			<a href="https://www.google.com/design/icons/" target="_blank">Material Design Icons</a>
		</h2>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">today</md-icon>
			Schedule
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">store</md-icon>
			Auto Shop
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">stars</md-icon>
			Stars
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">star_rate</md-icon>
			Ratings
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">schedule</md-icon>
			Schedule
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">reorder</md-icon>
			Reorder
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">print</md-icon>
			Print
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">restore</md-icon>
			Restore
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">settings</md-icon>
			Settings
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">receipt</md-icon>
			Receipt
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">payment</md-icon>
			Payment
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">loyalty</md-icon>
			Loyalty
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">home</md-icon>
			Home
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">help</md-icon>
			Help
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">face</md-icon>
			Face
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">explore</md-icon>
			Explore
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">delete</md-icon>
			Delete
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">description</md-icon>
			Description
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">build</md-icon>
			Build
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">assignment</md-icon>
			Assignment
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">alarm</md-icon>
			Alarm
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">done</md-icon>
			Done
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">done_all</md-icon>
			Done All
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">search</md-icon>
			Search
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">view_list</md-icon>
			View List
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">view_quilt</md-icon>
			View Quilt
		</p>
		<p>
			<md-icon md-font-library="material-icons" class="md-avatar">work</md-icon>
			Work
		</p>
	</div>
</div>
