<div layout="column" height-full>
	<md-toolbar>
	  <div class="md-toolbar-tools">
	    <md-button class="md-icon-button" aria-label="Settings">
	      <md-icon md-font-library="material-icons">face</md-icon>
	    </md-button>
	    
	    <h2>
	      <span>Toolbar with Icon Buttons</span>
	    </h2>
	    <span flex></span>
	    <md-button class="md-icon-button" aria-label="Favorite">
	      <md-icon md-font-library="material-icons">favorite</md-icon>
	    </md-button>
	    <md-button class="md-icon-button" aria-label="More">
	      <md-icon md-font-icon="face" />
  	    </md-button>
	  </div>
	</md-toolbar>

	<div scrollable flex>
		<md-icon md-font-icon="android" aria-label="android"></md-icon>
		<md-icon class="icon_home" aria-label="Home"></md-icon>
		<md-icon md-font-icon="face"></md-icon>
		<div>Dashboard View</div>
		<div>Vehicles</div>
		<a ng-href="#/vehicles">List vehicles</a>
		<a ng-href="#/vehicles/new">new vehicle</a>
		<a ng-href="#/vehicles/12345">a vehicle</a>
		<a ng-href="#/vehicles/12345/edit">edit an existing vehicle</a>
		<div>Vehicle history</div>
		<a ng-href="#/vehicles/12345/history">History for an existing vehicle</a>
		<div>Vehicle reports</div>
		<a ng-href="#/vehicles/12345/reports">Reports for an existing vehicle</a>
		<div>Vehicle schedule</div>
		<a ng-href="#/vehicles/12345/schedule">Schedule for an existing vehicle</a>
		<div>Tasks</div>
		<a ng-href="#/tasks">List maintenance tasks</a>
		<a ng-href="#/tasks/new">new task</a>
		<a ng-href="#/tasks/12345">view task</a>
		<a ng-href="#/tasks/12345/edit">edit an existing task</a>
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>	
		<p>Foooooo</p>
	</div>	
</div>