<div>Dashboard View</div>
<div layout="column">
	<div>Vehicles</div>
	<a ng-href="#/vehicles">List vehicles</a>
	<a ng-href="#/vehicles/new">new vehicle</a>
	<a ng-href="#/vehicles/12345">a vehicle</a>
	<a ng-href="#/vehicles/12345/edit">edit an existing vehicle</a>
	<div>Vehicle history</div>
	<a ng-href="#/vehicles/12345/history">History for an existing vehicle</a>
	<div>Vehicle reports</div>
	<a ng-href="#/vehicles/12345/reports">Reports for an existing vehicle</a>
	<div>Vehicle schedule</div>
	<a ng-href="#/vehicles/12345/schedule">Schedule for an existing vehicle</a>
	<div>Tasks</div>
	<a ng-href="#/tasks">List maintenance tasks</a>
	<a ng-href="#/tasks/new">new task</a>
	<a ng-href="#/tasks/12345">view task</a>
	<a ng-href="#/tasks/12345/edit">edit an existing task</a>
</div>