<div layout="column" height-full>

  <auto-toolbar
    title="Signup"
    more="true"><!-- add icons here --></auto-toolbar>

  <md-content flex layout-padding layout="column" layout-sm="column">

    <p>Sign up for an account</p>

    <form name="login">
      <md-input-container>
        <label>Username</label>
        <input ng-model="user.username">
      </md-input-container>

      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email">
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input ng-model="user.password">
      </md-input-container>

      <md-button
        ng-click="actions.create()"
        class="md-raised md-primary">Create account</md-button>

    </form>

  </md-content>

</div>
