<div layout="column" height-full>
	
	<auto-toolbar 
		title="Vehicles List" 
		more="true"><!-- add icons here --></auto-toolbar>

	<md-list>
		<md-list-item>
			<md-button>
				<md-icon md-font-library="material-icons" class="md-avatar">directions_car</md-icon>
			</md-button>
			<p class="md-list-item-text">
				<a ng-href="#/vehicles/1234">Vehicle #1</a>
			</p>
			<md-divider></md-divider>
		</md-list-item>
		<md-list-item>
			<md-button>
				<md-icon md-font-library="material-icons" class="md-avatar">directions_car</md-icon>
			</md-button>
			<p class="md-list-item-text">
				<a ng-href="#/vehicles/4567">Vehicle #2</a>
			</p>
			<md-divider></md-divider>
		</md-list-item>
		<md-list-item>
			<md-button>
				<md-icon md-font-library="material-icons" class="md-avatar">directions_car</md-icon>
			</md-button>
			<p class="md-list-item-text">
				<a ng-href="#/vehicles/7890">Vehicle #3</a>
			</p>
			<md-divider></md-divider>
		</md-list-item>
		
	</md-list>

</div>
