<div layout="column" height-full>

	<auto-toolbar
		title="Vehicles List"
		more="true"><!-- add icons here --></auto-toolbar>

	<md-list scrollable flex>
		<md-list-item
			ng-repeat="item in items" id="vehicle-{{$index}}">
			<md-button ng-href="#/vehicles/{{item.id}}">
				<md-icon
					md-font-library="material-icons"
					class="md-avatar">directions_car</md-icon>
			</md-button>
			<div>
				<p class="md-list-item-text">
					<a ng-href="#/vehicles/{{item.id}}">
						{{item.make}} {{item.model}} {{item.style}}
					</a>
				</p>
				<p>color: {{item.color}},
					miles: {{item.mileage[0].miles}}
					<md-button href="#/vehicles/{{item.id}}/edit" class="md-raised">
						edit vehicle
					</md-button>
				</p>

				<md-divider></md-divider>
			</div>
		</md-list-item>
	</md-list>

</div>
